# Broadcast user address
SENDER=

# Deployment via ledger
MNEMONIC_INDEX=
LEDGER_SENDER=

# Deployment via private key
PRIVATE_KEY=

# Test rpc_endpoints
RPC_MAINNET=https://eth.llamarpc.com
RPC_AVALANCHE=https://api.avax.network/ext/bc/C/rpc
RPC_OPTIMISM=https://optimism.llamarpc.com
RPC_POLYGON=https://polygon.llamarpc.com
RPC_ARBITRUM=https://arbitrum.llamarpc.com
RPC_FANTOM=https://rpc.ftm.tools
RPC_HARMONY=https://api.harmony.one
RPC_METIS=https://andromeda.metis.io/?owner=1088
RPC_BASE=https://base.llamarpc.com
RPC_ZKEVM=https://zkevm-rpc.com
RPC_GNOSIS=https://rpc.ankr.com/gnosis
RPC_BNB=https://binance.llamarpc.com
RPC_SCROLL=https://rpc.scroll.io
RPC_AMOY="https://rpc-amoy.polygon.technology"

# Etherscan api keys for verification & download utils
ETHERSCAN_API_KEY_MAINNET=
ETHERSCAN_API_KEY_POLYGON=
ETHERSCAN_API_KEY_AVALANCHE=
ETHERSCAN_API_KEY_FANTOM=
ETHERSCAN_API_KEY_OPTIMISM=
ETHERSCAN_API_KEY_ARBITRUM=
ETHERSCAN_API_KEY_BASE=
ETHERSCAN_API_KEY_ZKEVM=
ETHERSCAN_API_KEY_GNOSIS=
ETHERSCAN_API_KEY_BNB=
ETHERSCAN_API_KEY_SCROLL=
ETHERSCAN_API_KEY_CELO=

# Simulation/fork creation
TENDERLY_ACCESS_TOKEN=
TENDERLY_ACCOUNT=
TENDERLY_PROJECT=

FOUNDRY_LIBRARIES=aave-v3-core/contracts/protocol/libraries/logic/BorrowLogic.sol:BorrowLogic:0x8821156340E25f0d9f4ad79349944158b9B7370E,aave-v3-core/contracts/protocol/libraries/logic/BridgeLogic.sol:BridgeLogic:0x9E1c74428FAffDe164d2B6A4f707B0d0B177E69b,aave-v3-core/contracts/protocol/libraries/logic/ConfiguratorLogic.sol:ConfiguratorLogic:0x3bCCd7E769BC66CdDbFA0fe3BEe6eA41cC2a040e,aave-v3-core/contracts/protocol/libraries/logic/EModeLogic.sol:EModeLogic:0x94Eff35Bb1eF2089b61Ac8daeBff6987D45BEc53,aave-v3-core/contracts/protocol/libraries/logic/FlashLoanLogic.sol:FlashLoanLogic:0xb9f1FdECc1169900a543CB8E9c1F24ee6dD7C665,aave-v3-core/contracts/protocol/libraries/logic/LiquidationLogic.sol:LiquidationLogic:0xd04CDe0FF78f3E5aa26d6eCB0b2cd62Ebc734821,aave-v3-core/contracts/protocol/libraries/logic/PoolLogic.sol:PoolLogic:0xEe9A09200Ea8925bDB6CAA5739338D8716036f6F,aave-v3-core/contracts/protocol/libraries/logic/SupplyLogic.sol:SupplyLogic:0x29292DcB190CB037105135a2c962F736c26787d8

net=https://sepolia.era.zksync.dev
