# Broadcast user address
SENDER=

# Deployment via ledger
MNEMONIC_INDEX=
LEDGER_SENDER=

# Deployment via private key
PRIVATE_KEY=

# Test rpc_endpoints
RPC_MAINNET=https://eth.llamarpc.com
RPC_AVALANCHE=https://api.avax.network/ext/bc/C/rpc
RPC_OPTIMISM=https://optimism.llamarpc.com
RPC_POLYGON=https://polygon.llamarpc.com
RPC_ARBITRUM=https://arbitrum.llamarpc.com
RPC_FANTOM=https://rpc.ftm.tools
RPC_HARMONY=https://api.harmony.one
RPC_METIS=https://andromeda.metis.io/?owner=1088
RPC_BASE=https://base.llamarpc.com
RPC_ZKEVM=https://zkevm-rpc.com
RPC_GNOSIS=https://rpc.ankr.com/gnosis
RPC_BNB=https://binance.llamarpc.com
RPC_SCROLL=https://rpc.scroll.io
RPC_AMOY="https://rpc-amoy.polygon.technology"

# Etherscan api keys for verification & download utils
ETHERSCAN_API_KEY_MAINNET=
ETHERSCAN_API_KEY_POLYGON=
ETHERSCAN_API_KEY_AVALANCHE=
ETHERSCAN_API_KEY_FANTOM=
ETHERSCAN_API_KEY_OPTIMISM=
ETHERSCAN_API_KEY_ARBITRUM=
ETHERSCAN_API_KEY_BASE=
ETHERSCAN_API_KEY_ZKEVM=
ETHERSCAN_API_KEY_GNOSIS=
ETHERSCAN_API_KEY_BNB=
ETHERSCAN_API_KEY_SCROLL=
ETHERSCAN_API_KEY_CELO=

# Simulation/fork creation
TENDERLY_ACCESS_TOKEN=
TENDERLY_ACCOUNT=
TENDERLY_PROJECT=

FOUNDRY_LIBRARIES=src/core/contracts/protocol/libraries/logic/BorrowLogic.sol:BorrowLogic:0xa68d2f399cfe47d8ffb2c117b500b3ff1f2d1bcb,src/core/contracts/protocol/libraries/logic/BridgeLogic.sol:BridgeLogic:0xe2e0bf0244ed98125652672787f9d1f86137592c,src/core/contracts/protocol/libraries/logic/ConfiguratorLogic.sol:ConfiguratorLogic:0x556ec5b6870d037d242b5d8c0399b3b3c1401f7c,src/core/contracts/protocol/libraries/logic/EModeLogic.sol:EModeLogic:0x3c98247955f4ba627c79a4d1fa0418307c4ad95f,src/core/contracts/protocol/libraries/logic/FlashLoanLogic.sol:FlashLoanLogic:0x8B9AeE8BdE378e4f2ebdE95432b7547EF4FcD569,src/core/contracts/protocol/libraries/logic/LiquidationLogic.sol:LiquidationLogic:0xBcaA51D1Dc6C1B2b7943eDedA9D0Ad9BcAE3161D,src/core/contracts/protocol/libraries/logic/PoolLogic.sol:PoolLogic:0x32d0D756aF42054c05Bce40B75e7Cab564bB6d37,src/core/contracts/protocol/libraries/logic/SupplyLogic.sol:SupplyLogic:0x796aCC91016B333230b77aBAa36B8BC351De47F9

net=https://sepolia.era.zksync.dev
