# Broadcast user address
SENDER=

# Deployment via ledger
MNEMONIC_INDEX=
LEDGER_SENDER=

# Deployment via private key
PRIVATE_KEY=

net=https://mainnet.era.zksync.io

# Test rpc_endpoints
RPC_MAINNET=https://eth.llamarpc.com
RPC_AVALANCHE=https://api.avax.network/ext/bc/C/rpc
RPC_OPTIMISM=https://optimism.llamarpc.com
RPC_POLYGON=https://polygon.llamarpc.com
RPC_ARBITRUM=https://arbitrum.llamarpc.com
RPC_FANTOM=https://rpc.ftm.tools
RPC_HARMONY=https://api.harmony.one
RPC_METIS=https://andromeda.metis.io/?owner=1088
RPC_BASE=https://base.llamarpc.com
RPC_ZKEVM=https://zkevm-rpc.com
RPC_GNOSIS=https://rpc.ankr.com/gnosis
RPC_BNB=https://binance.llamarpc.com
RPC_SCROLL=https://rpc.scroll.io
RPC_AMOY="https://rpc-amoy.polygon.technology"
RPC_ZKSYNC=https://mainnet.era.zksync.io

# Etherscan api keys for verification & download utils
ETHERSCAN_API_KEY_MAINNET=
ETHERSCAN_API_KEY_POLYGON=
ETHERSCAN_API_KEY_AVALANCHE=
ETHERSCAN_API_KEY_FANTOM=
ETHERSCAN_API_KEY_OPTIMISM=
ETHERSCAN_API_KEY_ARBITRUM=
ETHERSCAN_API_KEY_BASE=
ETHERSCAN_API_KEY_ZKEVM=
ETHERSCAN_API_KEY_GNOSIS=
ETHERSCAN_API_KEY_BNB=
ETHERSCAN_API_KEY_SCROLL=
ETHERSCAN_API_KEY_CELO=

# Simulation/fork creation
TENDERLY_ACCESS_TOKEN=
TENDERLY_ACCOUNT=
TENDERLY_PROJECT=

FOUNDRY_LIBRARIES=aave-v3-core/contracts/protocol/libraries/logic/BorrowLogic.sol:BorrowLogic:0xa68d2f399cfe47d8ffb2c117b500b3ff1f2d1bcb,aave-v3-core/contracts/protocol/libraries/logic/BridgeLogic.sol:BridgeLogic:0xe2e0bf0244ed98125652672787f9d1f86137592c,aave-v3-core/contracts/protocol/libraries/logic/ConfiguratorLogic.sol:ConfiguratorLogic:0x556ec5b6870d037d242b5d8c0399b3b3c1401f7c,aave-v3-core/contracts/protocol/libraries/logic/EModeLogic.sol:EModeLogic:0x3c98247955f4ba627c79a4d1fa0418307c4ad95f,aave-v3-core/contracts/protocol/libraries/logic/FlashLoanLogic.sol:FlashLoanLogic:0x34841696C04161844DF96c6e02Ab573E3999c998,aave-v3-core/contracts/protocol/libraries/logic/LiquidationLogic.sol:LiquidationLogic:0x78596ed1eBA236f92051439Ee934c2Ffa63c6AE5,aave-v3-core/contracts/protocol/libraries/logic/PoolLogic.sol:PoolLogic:0x68535BCF8cAD1070a6AEC2f08179a0e2802d4eFc,aave-v3-core/contracts/protocol/libraries/logic/SupplyLogic.sol:SupplyLogic:0x97407BD2041942FAd8EbD328500AdDDe8CA12c8a
